.createorderPage{
	display: -webkit-box;
    display: -ms-flexbox;
   	display: flex;
   	display: -webkit-flex;
	-moz-box-direction:normal;
	flex-direction:column;
	-webkit-flex-direction:column;
}
.createorderPage .mapcomponent{
	flex-grow: 1;
	background:#EEE;
}
.createorderPage .bottomlnk{
	margin-top: -40px;
	display: -webkit-box;
    display: -ms-flexbox;
   	display: flex;
   	display: -webkit-flex;
   	position: relative;
   	-moz-box-direction:normal;
	flex-direction:column;
	-webkit-flex-direction:column;
}
.createorderPage .bottomlnk .bg{
	display: -webkit-box;
    display: -ms-flexbox;
   	display: flex;
   	display: -webkit-flex;
   	margin-bottom: -1px;
}
.createorderPage .bottomlnk .bg img{
	width: 100%;
	margin: 0;
	align-self: flex-end;
}
.createorderPage .opendevicecontent {
	text-align: center;
}
.createorderPage .opendevicecontent .tit{
	display: -webkit-box;
    display: -ms-flexbox;
   	display: flex;
   	display: -webkit-flex;
   	-moz-box-direction:normal;
	flex-direction:column;
	-webkit-flex-direction:column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-align-items: center;
	padding: 0;
	text-align: center;
	margin-bottom: 20px;
}
.createorderPage .opendevicecontent .tit .time{
	font-size: 40px;
	font-weight: 600;
}
.createorderPage .opendevicecontent .tit .c{
	color: #ffb400;
}
.createorderPage .opendevicecontent .cost{
	height: 140px;
	width: 140px;
	margin: auto;
	background: #ffa303; /* 一些不支持背景渐变的浏览器 */  
    background: -webkit-linear-gradient(45deg, #ffa303, #ffd902); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(45deg, #ffa303, #ffd902); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(45deg, #ffa303, #ffd902); /* Firefox 3.6 - 15 */
    background: linear-gradient(45deg, #ffa303, #ffd902); /* 标准的语法（必须放在最后） */
    display: -webkit-box;
    display: -ms-flexbox;
   	display: flex;
   	display: -webkit-flex;
   	-moz-box-direction:normal;
	flex-direction:column;
	-webkit-flex-direction:column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	border-radius: 140px;
	margin-bottom: 10px;
}
.createorderPage .opendevicecontent .cost .number{

}
.createorderPage .opendevicecontent .cost .number b{
	font-size: 40px;
	font-weight: 600;
}
.createorderPage .opendevicecontent .cost .number i{
	font-style: normal;
	margin-left: 3px;
}
.createorderPage .opendevicecontent .costc{
	margin-bottom: 20px;
	color: #ffb400;
}
.createorderPage .opendevicecontent .tishi{
	color: #ffb400;
	margin-bottom: 20px;
	font-weight: 600;
}


