/*common*/
*{
    overflow-scrolling:touch;
    -webkit-overflow-scrolling:touch;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: "Microsoft YaHei";
    font-weight: 200;
    border:none;
}
